[
    (
        id: "signpost_welcome",
        pages: [
            "Welcome, adventurer.",
        ],
    ),
        (
        id: "npc_greeting",
        pages: [
            "Where is this place? Do we know each other?",
        ],
    ),
]
